<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/aop   
    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-lazy-init="true">
	
	
	<bean id="sayHelloJob" class="org.springframework.scheduling.quartz.JobDetailBean"> 

     <property name="jobClass"> 

       <value>test.timerTask.SayHelloTaskUsingQuartz</value> 

     </property> 

   </bean> 

<!-- 关键在如下两个触发器的配置 --> 

<!-- 类似于Java的简单触发器 --> 

   <bean id="helloTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean"> 


     <property name="jobDetail"> 

       <ref bean="sayHelloJob"/> 

     </property> 

     <property name="startDelay"> 

       <value>1000</value> 

     </property> 

     <property name="repeatInterval"> 

       <value>3000</value> 

     </property> 

   </bean> 

<!-- 复杂触发器 --> 

   <bean id="helloCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean"> 


     <property name="jobDetail"> 

       <ref bean="sayHelloJob"/> 

     </property> 

     <property name="cronExpression"> 

       <!-- 关键在配置此表达式 --> 

       <value>0 49 15 * * ?</value> 

     </property> 

   </bean> 


   <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"> 

     <property name="triggers"> 

       <ref bean="helloCronTrigger"/> 

     </property> 

   </bean> 


	<bean id="quartzJob" class="com.actmaps.scheduler.QuartzJob">
	   <property name="reminderControl">
	    <ref bean="reminder"/>
	   </property>
	</bean>
	
	<bean id="methodInvokingJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">        
	   <property name="targetObject">
	    <ref bean="quartzJob"/>
	   </property>
	   <property name="targetMethod">
	    <value>execute</value>
	   </property>
	</bean>


</beans>